/* Color Theme Swatches in Hex */
.text-lightgray {
	color: #D2D2D2;
}

.text-bsyellow{
	color: #f2c641;
}

.text-brown2 {
	color: #A6988D;
}

.text-brown3 {
	color: #D9CCC1;
}

.text-brown1 {
	color: #8C7B72;
}

.text-darkgray {
	color: #4D4D4D;
}

.text-gray {
	color: #909090;
}

.bg-gray {
	background-color: #909090 !important;
}

.bg-lightgray {
	background-color: #F2F2F2 !important;
}

.bg-brown2 {
	background-color: #A6988D !important;
}

.bg-brown3 {
	background-color: #D9CCC1 !important;
}

.bg-brown1 {
	background-color: #8C7B72 !important;
}

.bg-darkgray {
	background-color: #0D0D0D !important;
}

.bg-bsyellow{
	background-color: #f2c641;
}

/*∏ﬁ¿Œ*/
.mainbox {
	background-color: #FFFFFF;
	border: 1px solid #D9CCC1;
}

.eventimage {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border: 0px solid;
}

.mainbox-title {
	font-weight: bold;
	font-size: 14pt;
	color : #8C7B72;
	padding:5px;
}


.main-best img{
	
	max-width:200px;
	max-height:300px;
}

.main-notice {
	list-style: none;
	padding-left: 0px;
}

.main-notice li {
	margin-bottom:10px;
}

.main-review {
	max-height:150px;
	overflow:hidden;
	border-spacing: 0px !important;
	border: 0px solid !important;
}
.main-review td{
	vertical-align:top;
	overflow:hidden;
}

.main-review-img {
	max-height:120px;
}